#!/bin/bash

#Define your OVH DynHost ID & password and the domain name for which you wish to update DynHost
DYNHOST_ID='{{ dynhost.id }}'
DYNHOST_PASSWORD='{{ dynhost.password }}'
DOMAIN_NAME='{{ nextcloud.domain }}'

#####################
####DO NOT TOUCH#####
#####################

PUBLIC_IP=$(curl --silent -4 ifconfig.co)

#Call OVH for update
curl --silent --user "$DYNHOST_ID:$DYNHOST_PASSWORD" "https://www.ovh.com/nic/update?system=dyndns&hostname=$DOMAIN_NAME&myip=$PUBLIC_IP"
