# {{ ansible_managed }}

# Default settings that all others accounts inherit
defaults
auth            on
tls             on
auto_from       off
logfile         /var/log/msmtp

# {{ msmtp.account }} account
account         {{ msmtp.account }}
host            {{ msmtp.host }}
port            {{ msmtp.port }}
from            {{ msmtp.from }}
user            {{ msmtp.user }}
password        {{ msmtp.password }}
tls_starttls    {{ msmtp.tls_starttls }}
domain          {{ msmtp.domain }}

# Default account to use
account default : {{ msmtp.account }}
