# {{ ansible_managed }}

# Default settings that all others accounts inherit
defaults
auth            on
tls             on
auto_from       off
logfile         /var/log/msmtp

# {{ msmtp_account.account }} account
account         {{ msmtp_account.account }}
host            {{ msmtp_account.host }}
port            {{ msmtp_account.port }}
from            {{ msmtp_account.from }}
user            {{ msmtp_account.user }}
password        {{ msmtp_account.password }}
tls_starttls    {{ msmtp_account.tls_starttls }}
domain          {{ msmtp_account.msmtp_domain }}

# Default account to use
account default : {{ msmtp_account.account }}
